

{% extends 'main/base.html' %}
{% block title %}LeetCode Friends | Frequently Ask Questions{% endblock %} 
{% block content %}
<style>
    
</style>


<div class="wrapper bg-white rounded shadow">
    <div class="h2 text-center fw-bold">Bootstrap</div>
    <div class="h3 text-primary text-center">How can we help you?</div>
    <div class="d-flex justify-content-center">
        <div class="search w-75 d-flex align-items-center"> <span class="fas fa-search text-dark"></span>
            <input type="text" class="form-control" placeholder="Describe your issue">
        </div>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                What is LeetCode Friends?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>LeetCode Friends is a website that connects LeetCode users </strong> 
              by allowing you to track your own and your 
              friends' problem-solving progress on LeetCode.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How do I add friends to my LeetCode Friends list?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Simply just <strong>follow</strong> the people on the LeetCode webpage.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How often is the progress updated on LeetCode Friends?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>It is up-to-date.</strong> Every time the user opens the LeetCode Friends webpage.
            </div>
          </div>
        </div>
      </div>

            <h2 class="accordion-header" id="flush-headingOne"> <button class="accordion-button collapsed border-0"
                    type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false"
                    aria-controls="flush-collapseSix"> Policy & copyrights </button> </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse border-0" aria-labelledby="flush-headingOne"
                data-bs-parent="#myAccordion">
                <div class="accordion-body p-0">
                    <ul class="list-unstyled m-0">
                        <li><a href="#">LeetCodeFriends Guidelines</a></li>
                        <li><a href="#">LeetCodeFriends Policies</a></li>
                        <li><a href="#">Copyright and right management</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

