{% extends 'main/base.html' %}
{% block title %}LeetCode Friends | Follow Users{% endblock %} 
{% block content %}

<header class="p-1 text-bg-dark">

  <div class="container">

      <h1 class="text-center">
          {{website_name}}
      </h1>

      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="0" role="img" aria-label="Bootstrap">
                  <use xlink:href="#bootstrap" />
              </svg>
          </a>


          <!-- search box -->
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Enter a LeetCode user..."
                  aria-label="Search">
          </form>

          <!-- button for user login -->
          <a href="{% url 'sign_up' %}">
              <button type="button" class="btn btn-warning">Search!</button></a>

      </div>
  </div>
</header>

{% endblock %}