<header class="p-1 text-bg-dark">
   
    <div class="container">
        
      <h1 class="text-center">
          {{website_name}}
      </h1>
        
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="0" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          </a>
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <!-- HOME button -->
            <li><a href="" class="nav-link px-2 text-secondary">Home</a></li>

            <!-- Features button -->
            <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
  
            <!--
            <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
            -->
            
            <!-- FAQ button -->
            <li><a href="FAQ" class="nav-link px-2 text-white">FAQ</a></li>

            <!-- About button -->
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          </ul>
  
          <!-- search box-->
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
          </form>
  
          <!-- button for user login -->
          <a href="{% url 'login' %}">
          <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2">Login</button></a>
  
            <!-- button for user registration/Sign-up -->
            <a href="{% url 'sign_up' %}">
            <button type="button" class="btn btn-warning">Sign-up</button></a>
            
          </div>
        </div>
      
      </div>
    </header>